.employee-panel {
    padding: 10px;
    &__add {
        border: 1px solid #d9d9d9;
        box-shadow: 0 2px 0 rgba(0,0,0,0.015);
        border-radius: 4px;
        width: 50px;
        height: 30px;
        display: block;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0,0,0,0.65);
    }
    &__add--active {
        background: #1890ff;
        color: white;
    }
}